.menu{
    width: 1440px;
    height: 54px;
    flex-shrink: 0;
    background: rgba(255, 0, 0, 0.51);
}
.menu-texto{
    display: flex;
    width: 205px;
    height: 37px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
font-size: 20px;
font-family: Inter;

}